
<%- include("partials/header"); -%>
<h1 style="color: crimson;">Delete</h1>
<!-- <p> <%= startingContent %> </p> -->


<%  posts.forEach(function(post){ %>

    <form action="/delete" method="post">
        <div class="post">
            
<h1><%=post.title%></h1>
<p>
<%=post.content.substring(0, 100) + " ..."%>
</p>
<button type="submit" class="btn btn-danger" name="delete" value="<%=post._id%>" onClick="this.form.submit()">Delete</button>
</form>

<% }) %>


